body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: red;
}

h2, h4 {
  color: green;
  font-family: "Georgia", serif;
  line-height: 36px;
}

details {
  color: grey;
}

.form {
  height: 100%;
  text-align: left;
  background: #f0f0f0;
  padding: 10px;
}

.list {
  background: #E6E6FA;
  font-size: 20px;
  padding: 20px;
  padding-left: 30px;
  font-size: 22px;
  line-height: 30px;
}
